<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Docker Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="highlight">Contact Us</h1>
        <p>You can reach out to us at the following emails for project queries:</p>
        <ul class="contact-list">
            <li>📧 kartikay.r@gmail.com</li>
            <li>📧 mukesh.s@gmail.com</li>
            <li>📧 priyanshu.s@gmail.com</li>
        </ul>
        <p>We’re happy to connect with anyone interested in Docker, Flask, or beautiful UI design! We will try to assist to the best of our support.<li> Thankyou</li></p>
        <div class="button-group">
            <a href="/" class="button">Home</a>
            <a href="/about" class="button">About</a>
        </div>
    </div>
</body>
</html>
