<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker Flask Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="highlight">Welcome to Docker Flask UI</h1>
        <p>This web application demonstrates a simple Flask app running inside a Docker containe. This is just an illustration made to show the implementation of docker on a basic level. </p>
        <div class="button-group">
            <a href="/about" class="button">About</a>
            <a href="/contact" class="button">Contact</a>
        </div>
    </div>
</body>
</html>

